@{
    ViewBag.Title = "Home Page";
}

<h1>Human Resource Management</h1>

<h3>Number of existing Divisions</h3>
@ViewBag.nmbrofDivision

<h3>Number of existing Departments</h3>
@ViewBag.nmbrofDept

<h3>Number of existing Sections</h3>
@ViewBag.nmbrofSection

<h3>Number of existing Designations</h3>
@ViewBag.nmbrofDesignation 

<h3>Number of existing Employees</h3>
@ViewBag.nmbrofEmployee